
  <div ng-controller="sidebarNavCtrl" layout="column" ng-cloak>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Work Outs</h1>
      </md-toolbar>

      <md-content layout-margin>
        <ul  class="nav-links">
          <li><a ng-click="toggleLeft()" ui-sref="muscleGroup({id:'10'})">Abs</a></li>
          <li><a ng-click="toggleLeft()" ui-sref="muscleGroup({id:'8'})">Arms</a></li>
          <li><a ng-click="toggleLeft()" ui-sref="muscleGroup({id:'12'})">Back</a></li>
          <li><a ng-click="toggleLeft()" ui-sref="muscleGroup({id:'14'})">Calves</a></li>
          <li><a ng-click="toggleLeft()" ui-sref="muscleGroup({id:'11'})">Chest</a></li>
          <li><a ng-click="toggleLeft()" ui-sref="muscleGroup({id:'9'})">Legs</a></li>
          <li><a ng-click="toggleLeft()" ui-sref="muscleGroup({id:'13'})">Shoulders</a></li>
          <li><a ng-click="toggleLeft()" ui-sref="home">Home</a></li>
        </ul>

        <md-button ng-click="toggleLeft()" class="md-accent">
          Close
        </md-button>

      </md-content>
      <!--end md-content-->
    </md-sidenav>
    <!--end md-sidenav-->
    <md-toolbar class="">
      <h2 class="md-toolbar-tools">
      <div ng-click="toggleLeft()" >
          &#x2630;
      </div>

    </h2>

    </md-toolbar>
    <md-content>
      <ui-view></ui-view>
    </md-content>
  </div>
